.position-alert{
    bottom: 0;
    right: 0;
    z-index: 100;
}

#alerts{
    display: none;
}
#alert-success{
    display: none;
}
#alert-error{
    display: none;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* This is important for responsive table */
}

table tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

#printModal{
    display: none;
}